nav {
  margin-top: 20px;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

  nav ul li {
    margin: 6px;
  }

  nav ul li a{
    text-decoration: none;
  }

  .logo {
    color: rgb(78, 78, 255);
    font-size: 35px;
  }
  